
<div style="display: flex;">
  <div class="chart-container" style="position: relative; height:50vh; width:50vw">
    <canvas id="myChart1"></canvas>
    <button (click)="randomData()">AddData</button>
    <button (click)="removeData(linechart1)">Remove Data</button>
    <button (click)="getData('5e736bab1759644040efe189')">Get Data</button>
    <button (click)="newRecording()">New Recording</button>
    <p>{{data}}</p>
  </div>
  <div class="chart-container" style="position: relative; height:50vh; width:50vw; float:right;">
      <canvas id="myChart"></canvas>
  </div>
</div>